@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*General*/
:root {
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #332415; /*Dark brown*/
  --secondary-color: #4a647a; /*Grey blue*/
  --middle-color: #663115; /*Chestnut brown*/
  --highlight-color: #e1dad4; /*Light beige*/
  --light-highlight-color: #a08653; /*Gold brown*/
}

/*Main*/
body {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: var(--secondary-font);
}

.page-container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

main {
    flex: 1; /*pushing down the footer*/
}

/*Footer*/

footer {
  width: 100vw;
  background-color: var(--highlight-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.social-icon {
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--light-highlight-color);
}

#social-networks {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#social-networks li {
    margin: 0 0.5rem;
}

/*Header*/
.navbar {
    background-color: var(--highlight-color) !important;
    box-shadow: none !important;
    opacity: 1 !important;
    backdrop-filter: none !important;
}

a.nav-link {
color: var(--secondary-color);
}

/*Log In, Sign Up*/
.signup-card,
.login-card {
  background-color: var(--highlight-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

/*Log In, Sign up buttons*/
.custom-btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.custom-btn:hover {
  background-color: var(--light-highlight-color);
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--secondary-color); 
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--light-highlight-color); 
  border-color: var(--light-highlight-color);
  color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-primary:hover {
  background-color: var(--light-highlight-color);
  color: var(--primary-color);
}