{% load static %}

<footer class="site-footer full-width-footer">
  <div class="container d-flex justify-content-center align-items-center">
    <ul id="social-networks" class="d-flex list-unstyled mb-0">
      <li>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
          aria-label="Visit our Facebook page (opens in a new tab)" class="social-icon">
          <i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener"
          aria-label="Visit our Twitter page (opens in a new tab)" class="social-icon">
          <i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener"
          aria-label="Visit our YouTube page (opens in a new tab)" class="social-icon">
          <i class="fab fa-youtube"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
          aria-label="Visit our Instagram page (opens in a new tab)" class="social-icon">
          <i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</footer>

