{% load static %}
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img
          src="{% static 'images/logo.webp' %}"
          alt="Care4Dogs Logo"
          class="logo"
        />
      </a>

      <!-- Home -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigationbar -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Links to the left -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'home' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_list' %}">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_create' %}">Add Post</a>
          </li>
        </ul>

        <!-- Log In to the right -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="nav-link disabled">Welcome {{ user.username }}</span>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary me-2">
                Log Out
              </button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-primary me-2" href="{% url 'account_login' %}"
              >Log In</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-primary me-2" href="{% url 'account_signup' %}"
              >Sign Up</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
